h1 {
	color:red;
}
p {
	
	color:blue
}
table, th, td {
	border: 1px solid black;
}
th {
	text-align: left;
	background-color: red;
}
td {
	background-image: url("img1.jpg");
}
table {
	
}